@media (min-width: 768px) and (max-width: 1440px) {
.info__text-saved-articles {
  width: 460px;
  height: 92px;
  margin-left: 104px;
  margin-top: 28px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;

  color: #1A1B22;
}
}