.info__title {
  width: 540px;
  height: 128px;
  margin-top: 80px;
  margin-left: 416px;

  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;

  color: #fff;
}