@media (max-width: 767px) {
  .header__title {
    width: 285px;
    height: 80px;
    margin-top: 30px;
    margin-left: 19px;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #fff;
  }

  .header__title-saved-articles {
    width: 288px;
    height: 24px;
    margin-left: 16px;
    margin-top: 8px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;

    color: rgba(26, 27, 34, 0.5);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__title {
    width: 320px;
    height: 80px;
    margin-top: 36px;
    margin-left: 163px;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;

    color: #fff;
  }

  .header__title-saved-articles {
    width: 712px;
    height: 24px;
    margin-left: 40px;
    margin-top: 24px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;

    color: rgba(26, 27, 34, 0.5);
  }
}

@media (min-width: 1024px) {
  .header__title {
    width: 540px;
    height: 128px;
    margin-top: 80px;
    margin-left: 416px;
    margin-bottom: 0;

    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;

    color: #fff;
  }

  .header__title-saved-articles {
    width: 712px;
    height: 24px;
    margin-left: 104px;
    margin-top: 40px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: rgba(26, 27, 34, 0.5);
  }
}