@media (min-width: 320px) and (max-width: 767px) {
  .popup__url-signin {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }

  .popup__url-signin-success {
    margin-left: 17px;
    border: 1px solid red;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }
}

@media (min-width: 768px) {
  .popup__url-signin {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }

  .popup__url-signin-success {
    margin-top: 14px;
    margin-left: 36px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    cursor: pointer;

    color: #2f71e5;
  }
}