@media (min-width: 320px) and (max-width: 767px) {
  .popup__error_duplicate {
    display:inline-block;
    margin-top: 23px;
    margin-left: 85px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #ff0000;
  }

  .popup__error_duplicate {
    position: relative;
    top: 17px;
    bottom: 12px;
    }
}

@media (min-width: 768px) {
  .popup__error_duplicate {
    display:inline-block;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 140px;


    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;

    color: #ff0000;
  }

  .popup__error_duplicate {
    position: relative;
    top: 17px;
    bottom: 12px;
    }
}