@media (max-width: 767px) {
  .popup__error_duplicate {
    position: absolute;
    padding-left: 57px;
    padding-top: 2px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    /* visibility: hidden; */

    color: #ff0000;
  }
}

@media (min-width: 768px) {
  .popup__error_duplicate {
    position: absolute;
    padding-left: 90px;
    padding-top: 17px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    /* visibility: hidden; */

    color: #ff0000;
  }
}