@media (min-width: 768px) and (max-width: 1440px) {
  .navigation__auth {
    width: 176px;
    height: 48px;
    margin-left: 32px;
    margin-top: 19px;
    margin-bottom: 13px;

    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .navigation__auth_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    background: none;
    cursor: pointer;

    color: #fff;
  }

  .navigation__auth_logged-in {
    width: 112px;
    height: 48px;
    margin-left: 32px;
    margin-top: 19px;
    margin-bottom: 13px;

    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .navigation__auth_logged-in_icon {
    width: 17.41px;
    height: 16px;
    margin-left: 6px;
  }
}