@import url('./__button/info__button.css');
@import url('./__search/info__search.css');

@media (min-width: 768px) and (max-width: 1440px) {
  .info__container {
    display: flex;
    margin-left: 416px;
    margin-top: 64px;
    margin-bottom: 80px;
    width: 608px;
    height: 64px;
    background: #fff;

    border-radius: 100px;
  }
}