@media (max-width: 767px) {
  .popup__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    display: none;
  }

  .popup__menu-container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 286px;
    background: #1a1b22;
    border-radius: 0 0 16px 16px;
  }

  .popup__menu-upper {
    display: flex;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  }

  .popup__menu-logo {
    width: 117px;
    height: 24px;
    margin-top: 16px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-family: Roboto Slab, arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;

    color: #fff;
  }

  .popup__menu-main {
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-decoration: none;
    cursor: pointer;

    color: #fff;
  }

  .popup__menu-close {
    width: 24px;
    height: 24px;
    margin-left: 147px;
    margin-top: 16px;
    cursor: pointer;
  }

  .popup__menu_is-opened {
    display: flex;
  }
}

@media (min-width: 768px) {
  .popup__menu_is-opened {
    display: none;
  }

  .popup__menu-main {
    display: none;
  }

  .popup__menu-logo {
    display: none;
  }

  .popup__menu-close {
    display: none;
  }
}