@import url('./_container/popup__menu_container.css');
@import url('./_upper/popup__menu_upper.css');
@import url('./_logo/popup__menu_logo.css');
@import url('./_close/popup__menu_close.css');
@import url('./_main/popup__menu_main.css');
@import url('./_auth/popup__menu_auth.css');
@import url('./_auth/popup__menu_auth_logged-in.css');
@import url('./_auth/popup__menu_auth_text.css');
@import url('./_saved-articles/popup__menu_saved-articles.css');

@media (min-width: 320px) and (max-width: 767px) {
  .popup__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }
  
  .popup__menu_is-opened {
    display: none;
  }
}

@media (min-width: 768px) {
  .popup__menu_is-opened {
    display: none;
  }
}