@media (max-width: 767px) {
  .header__description {
    width: 288px;
    height: 72px;
    margin-left: 16px;
    margin-top: 16px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__description {
    width: 452px;
    height: 48px;
    margin-left: 160px;
    margin-top: 16px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #fff;
  }
}

@media (min-width: 1024px) {
  .header__description {
    width: 515px;
    height: 48px;
    margin-left: 416px;
    margin-top: 32px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: #fff;
  }
}