@media (max-width: 767px) {
  .results__show-more {
    width: 288px;
    height: 56px;
    margin-top: 5px;
    margin-bottom: 32px;
    margin-left: 16px;
    background: #fff;
    border-radius: 80px;
    border: none;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;

    color: #1a1b22;
  }

  .results__show-more:hover {
    opacity: 0.9;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .results__show-more {
    width: 240px;
    height: 56px;
    margin-top: 32px;
    margin-bottom: 40px;
    margin-left: 272px;
    background: #fff;
    border-radius: 80px;
    border: none;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;

    color: #1a1b22;
  }

  .results__show-more:hover {
    opacity: 0.9;
  }
}

@media (min-width: 1024px) {
  .results__show-more {
    width: 288px;
    height: 64px;
    margin-top: 64px;
    margin-bottom: 80px;
    margin-left: 576px;
    background: #fff;
    border-radius: 80px;
    border: none;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;

    color: #1a1b22;
  }

  .results__show-more:hover {
    opacity: 0.9;
  }
}