@media (max-width: 767px) {
  .card__alert {
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark.png);
  }

  .card__alert-hover {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-black.png);
  }

  .card__alert-active {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-blue.png);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__alert {
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark.png);
  }

  .card__alert-hover {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-black.png);
  }

  .card__alert-active {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-blue.png);
  }
}

@media (min-width: 1024px) {
  .card__alert {
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark.png);
  }

  .card__alert-hover {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-black.png);
  }

  .card__alert-active {
    display: none;
    position: absolute;
    width: 14px;
    height: 19px;
    top: 11px;
    left: 13px;
    background-image: url(../../../../../images/bookmark-blue.png);
  }
}