@media (max-width: 767px) {
  .card__trash {
    position: absolute;
    top: 11px;
    left: 11px;
  }

  .card__trash-hover {
    display: none;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__trash {
    position: absolute;
    top: 11px;
    left: 11px;
  }

  .card__trash-hover {
    display: none;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}

@media (min-width: 1024px) {
  .card__trash {
    position: absolute;
    top: 11px;
    left: 11px;
  }

  .card__trash-hover {
    display: none;
    position: absolute;
    top: 11px;
    left: 11px;
  }
}