@import url('./__keyword/card__keyword.css');
@import url('./__remove/card__remove.css');
@import url('./__trash/card_trash.css');
@import url('./__warning/card__warning.css');

@media (max-width: 767px) {
  .card__upper-container {
    display: flex;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .card__upper-container {
    display: flex;
  }
}

@media (min-width: 1024px) {
  .card__upper-container {
    display: flex;
  }
}