@import url('./__container/saved-articles__container.css');

@media (max-width: 767px) {
  .saved-articles {
    width: 320px;
    background: #f5f6f7;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .saved-articles {
    width: 768px;
    background: #f5f6f7;
  }
}

@media (min-width: 1024px) {
  .saved-articles {
    background: #f5f6f7;
  }
}
