@media (max-width: 767px) {
  .saved-articles__card {
    display: flex;
    flex-direction: column;
    width: 288px;
    border-radius: 16px;
    background-color: #fff;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .saved-articles__card {
    display: flex;
    flex-direction: column;
    width: 224px;
    border-radius: 16px;
    background-color: #fff;
    margin: 4px;
  }
}

@media (min-width: 1024px) {
  .saved-articles__card {
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 16px;
    background-color: #fff;
    margin: 8px;
  }
}