@media (max-width: 767px) {
  .popup__signup_is-opened {
    display: none;
  }

  .popup__signup-success_is-opened {
    display: none;
  }
}

@media (min-width: 768px) {
  .popup__signup_is-opened {
    display: none;
  }

  .popup__signup-success_is-opened {
    display: none;
  }
}