@media (min-width: 768px) and (max-width: 1440px) {
  .footer__author {
    margin-top: 20px;
    margin-bottom: 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #b6bcbf;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__author {
    margin-left: 104px;
    margin-top: 33px;
    margin-bottom: 25px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: #b6bcbf;
  }
}