@media (max-width: 767px) {
  .popup__menu-auth {
    display: flex;
    align-items: center;
    width: 288px;
    height: 56px;
    margin-left: 16px;
    margin-top: 80px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    display: none;
  }

  .popup__menu-auth_text {
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    padding-left: 70px;

    color: #fff;
  }
}

@media (min-width: 768px) {
  .popup__menu-auth {
    display: none;
  }
}