@media (min-width: 320px) and (max-width: 767px) {
  .popup__menu_auth_text {
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;

    color: #fff;
  }
}