@media (min-width: 320px) and (max-width: 767px) {
  .popup__menu_auth {
    display: flex;
    align-items: center;
    width: 288px;
    height: 56px;
    margin-left: 16px;
    margin-top: 80px;
    margin-bottom: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    background: none;
    cursor: pointer;
    display: none;
  }
}