@media (min-width: 320px) and (max-width: 767px) {
  .navigation__auth_logged-in {
    display: none;
  }

  .navigation__auth_logged-in_icon {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .navigation__auth_logged-in {
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    margin-top: 14px;
    margin-right: 40px;
    margin-bottom: 12px;
    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
    /* display: none; */
  }

  .navigation__auth_logged-in_icon {
    width: 17.41px;
    height: 16px;
    margin-left: 8px;
    background-image: url(../../../../../../src/images/Union.png);
  }
}

@media (min-width: 1024px) {
  .navigation__auth_logged-in {
    display: flex;
    align-items: center;

    width: 112px;
    height: 48px;
    margin-top: 19px;
    margin-bottom: 13px;
    margin-right: 104px;
    /* display: none; */

    border: 1px solid #fff;
    box-sizing: border-box;
    border-radius: 100px;
  }

  .navigation__auth_logged-in_icon {
    width: 17.41px;
    height: 16px;
    margin-left: 8px;
    background-image: url(../../../../../../src/images/Union.png);
  }
}