@media (min-width: 320px) and (max-width: 767px) {
  .popup__menu_container {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 286px;
    background: #1a1b22;
    border-radius: 0 0 16px 16px;
  }
}