@media (max-width: 767px) {
  .header__saved-articles {
    display: none;
  }

  .header__saved-articles-black {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__saved-articles {
    margin-top: 22px;
    margin-right: 16px;
    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    /* display: none; */

    color: #b6bcbf;
  }

  .header__saved-articles-black {
    margin-top: 22px;
    margin-left: 16px;
    height: 41px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 3px solid #1a1b22;

    color: #1a1b22;
  }
}

@media (min-width: 1024px) {
  .header__saved-articles {
    margin-top: 30px;
    margin-bottom: 26px;
    margin-right: 32px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    /* display: none; */

    color: #b6bcbf;
  }

  .header__saved-articles-black {
    margin-top: 30px;
    margin-left: 34px;

    font-family: Roboto, arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 3px solid #1a1b22;

    color: #1a1b22;
  }
}