@import url('./blocks/header/header.css');
@import url('./blocks/header/__info/header__info.css');
@import url('./blocks/main/main.css');
@import url('./blocks/footer/footer.css');
@import url('./blocks/results/results.css');
@import url('./blocks/preloader/preloader.css');
@import url('./blocks/not-found/not-found.css');
@import url('./blocks/saved-articles/saved-articles.css');
@import url('./blocks/popup/popup.css');

@media (min-width: 320px) and (max-width: 767px) {
  body {
    width: 320px;
    margin: 0 auto;
    background: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  body {
    width: 768px;
    margin: 0 auto;
    background: #fff;
  }
}

@media (min-width: 1024px) {
  body {
    width: 1440px;
    margin: 0 auto;
    background: #fff;
  }
}

/* body, main, h1, h2, h3, a, button, nav, div, p, footer, time, .results, section, i,
.navigation__auth_text-black, .navigation__auth_icon-black, .popup__close, input,
span {
  border: 1px solid red;
} */