@media (min-width: 768px) and (max-width: 1440px) {
  .not-found__text {
    width: 310px;
    margin-top: 16px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    text-align: center;

    color: #B6BCBF;
  }
}