@import url('./__navigation/header__navigation.css');
@import url('./__info/header__info.css');

@media (min-width: 320px) and (max-width: 767px) {
  .header {
    height: 536px;
    background-image: url(../../images/main-background-320-768.png);
  }

  .header-saved-articles {
    background: #fff;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header {
    height: 400px;
    background-image: url(../../images/main-background-768-1023.png);
    background-repeat: no-repeat;
  }

  .header-saved-articles {
    background: #fff;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 576px;
    background-image: url(../../../src/images/main-background.jpg);
    /* background-image: url(../../images/main-background.jpg); */
    background-repeat: no-repeat;
  }

  .header-saved-articles {
    background: #fff;
  }
}