@media (min-width: 320px) and (max-width: 767px) {
  .popup__menu_main {
    margin-left: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-decoration: none;
    cursor: pointer;

    color: #fff;
  }
}

@media (min-width: 768px) {
  .popup__menu_main {
    display: none;
  }
}